<!DOCTYPE html>
<html lang="" class="h-full bg-gray-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="theme-color" content="#d67192">
    <meta name="description" content="A community-driven validator on the Smart Bitcoin blockchain.">

    <title>Smart Pool</title>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Open graph -->
    <meta property="og:url" content="https://smartpool.cash" />
    <meta property="og:title" content="Smart Pool">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A community-driven validator on the Smart Bitcoin blockchain.">
    <meta property="og:image" content="https://smartpool.cash/poster.jpg?1653963030">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Smart Pool">
    <meta name="twitter:description" content="A community-driven validator on the Smart Bitcoin blockchain.">
    <meta name="twitter:image" content="https://smartpool.cash/poster.jpg?1653963030">
</head>

<body class="h-full">

<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
